@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
}

* {
    font-family: "Source Sans 3", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, span {
    color: black;
    text-align: center;
    line-height: 1.25;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

.flex{
    display: flex;
}

.flex-1{
    flex:1;
}

.row{
    width:100%;
    max-width: 800px;
    margin: 0 auto;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width:100%;
    max-width: 1000px;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6, 1, 36);
}

.personal__logo {
    font-size: 24px;
    font-weight: 700;
    padding: 8px 20px;
    color: rgb(80, 216, 247);
    margin: 0 12px;
    text-shadow: 0 2px 15px rgb(116, 4, 252);
}

.nav__link--list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding:10px;
    margin: 4 40px;
    width: 50%;
}

.nav__link--anchor{
    margin: 0 12px;
    color:aliceblue;
    text-decoration: none;
    font-weight:700px;
    transition: all 300ms ease;
}

.nav__link--anchor:hover{
    color: rgb(80, 216, 247);
    text-shadow: 0 2px 15px rgb(116, 4, 252);
    font-size:16.3px;
    margin: 0 12px;

}

.nav__link--anchor--primary{
    font-weight: 700;
    background-color: rgb(2, 151, 184);
    padding: 8px 20px;
    border-radius: 58px 58px 20px 20px;
    color: aliceblue;
    transition: all 300ms ease;
}

.nav__link--anchor--primary:hover{
    background-color: rgba(82, 0, 245, 0.984);
    color: aliceblue
}

/* INTRO*/

#about-me {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 1, 36);
    overflow: hidden;
}
.about-me__picture--mask{
    display: flex;
    justify-content: center;
    align-items: center;
    width:350px;
    height:350px;
    margin: 0 auto;
    position: relative;
    z-index: 500;
}

.about-me__picture {
    width:100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(246, 243, 243, 0.721);
    animation: popIn 1s ease-in-out;
}
.about-me__info--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(65, 0, 194, 0.658);
    border-radius: 3080px 3080px 1000px 1000px;
    padding:10px;
    position: relative;
    z-index:1000;
    animation: slideUp .5s ease-in-out;
}

.text--darker-blue{
    color: rgb(6, 224, 244)
}

.about-me__info--para{
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 690;
}

.social__links{
    background-color: rgba(65, 0, 194, 0);
}

.social__link--list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding:10px;
}
.social__link--anchor{
    display: flex;
    margin: 0 12px;
    text-decoration: none;
}


.social__icon{
    width: 40px;
    height: 40px;
    padding: 6px;
    transition: all 300ms ease;
}

.social__icon:hover{
    width: 50px;
    height: 50px;
}