@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
* {
    font-family: "Source Sans 3", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, span {
    color: black;
    text-align: center;
    line-height: 1.25;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

    /* NAVIGATION BAR */

nav {
    height: 100px;
    width:100%;
    max-width: 1000px;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6, 1, 36);
}

.personal__logo {
    font-size: 24px;
    font-weight: 700;
    padding: 8px 20px;
    color: rgb(80, 216, 247);
    margin: 0 12px;
    text-shadow: 0 2px 15px rgb(116, 4, 252);
}

.nav__link--list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding:10px;
    margin: 4 40px;
    width: 50%;
}

.nav__link--anchor{
    margin: 0 12px;
    color:aliceblue;
    text-decoration: none;
    font-weight:700px;
    transition: all 300ms ease;
}

.nav__link--anchor:hover{
    color: rgb(80, 216, 247);
    text-shadow: 0 2px 15px rgb(116, 4, 252);
    font-size:16.3px;
    margin: 0 12px;

}

.nav__link--anchor--primary{
    font-weight: 700;
    background-color: rgb(2, 151, 184);
    padding: 8px 20px;
    border-radius: 58px 58px 20px 20px;
    color: aliceblue;
    transition: all 300ms ease;
}

.nav__link--anchor--primary:hover{
    background-color: rgba(82, 0, 245, 0.984);
    color: aliceblue
}

/* CONTACT PAGE */

#contact {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 1, 36);
    justify-content: center;
    overflow: hidden;
}

.contact__container {
    margin: 0 auto;
    background-color: rgba(65, 0, 194, 0.658);
    border-radius: 6080px 6080px 1000px 1000px;
    padding:40px;
    width: 100%;
    max-width: 1000px;
    height: 200px;
}

.contact__container--message{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: rgba(65, 0, 194, 0.658);
    border-radius: 1000px 1000px 6080px 6080px;
    padding:40px;
    width: 100%;
    max-width: 1000px;
    height: 200px;
    
}

form{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 24px;
}

input, textarea {
    padding: 6px 12px;
    margin-bottom: 24px;
    font-size: 20px;
}

.button{
    
}
